################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IppWebApi/IPPContracts/obj/Debug
/IppWebApi/packages
/IppWebApi/IppWebApi.Tests/obj/Debug
