<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key ="YourId" value="2a8dec5a-5f70-45a2-9e0b-b14064850de0"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
</configuration>
