<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="UserIDStoreFilePath" value ="~\App_Data\WhatsYourId.txt"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
</configuration>
